<?xml version="1.0" ?>
<model>
    <name>WhyCode_4</name>
    <version>1.0</version>
    <sdf version="1.6">model.sdf</sdf>
   
      <author>
       <name>Adyansh Gupta</name>
       <email>adyansh.gupta@addverb.com</email>
      </author>
    
    <description>Whycode Model</description>
</model>
